.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nextButton{
  margin-left: 20pt;
}

.backButton{
  margin-right:20pt;
}

#feeling{
  margin-left: 20pt;
  margin-right: 20pt;
  height: 30px;
  font-size: 15pt;
}

#understanding{
  margin-left: 20pt;
  margin-right: 20pt;
  height: 30px;
  font-size: 15pt;
}

#supported{
  margin-left: 20pt;
  margin-right: 20pt;
  height: 30px;
  font-size: 15pt;
}

#comments{
  margin-left: 20pt;
  margin-right: 20pt;
  height: 30px;
  font-size: 15pt;
}

#review{
  margin-left: 20pt;
  margin-right: 20pt;
  height: 30px;
  font-size: 15pt;
}

#span{
  margin-left: 20pt;
  margin-right: 20pt;
}